<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Oneliner.io</title>
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="/assets/application.css">

	<script type="text/javascript">
	
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31882986-2']);
	  _gaq.push(['_setDomainName', 'oneliner.io']);
	  _gaq.push(['_setAllowLinker', true]);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
	</head>
	<body>

		<div class="container">
			<div class="oneliner">
				<p class="small">Oneliner.io is extremely useful when you want to make <a href="http://www.willyouportthistoandroid.com">something funny</a>, prepare a "launching soon" page in no time, or put up a maintenance message quickly. Your text will be autolinked.</p>
				<p><a href="http://oneliner.io">Oneliner.io</a> is entirely DNS-based, so you just need to create some DNS records for your domain or subdomain. </p>
				<p class="small">Set A record of the hostname to: <strong>198.143.157.235</strong> <br /> Then create a corresponding TXT record: <strong>"oneliner.io Your one-liner text goes here."</strong></p>
				
				<p class="small">NameTerrific users can simply reference snippet <strong>64fd0a2a4</strong></p>
				<p>That's it!</p>
				
			
			</div>
			<div class="footer">
				<p>Oneliner.io is a <a href="https://www.nameterrific.com">NameTerrific</a> service. <span class="pull-right"><a href="https://github.com/nameterrific/Oneliner.io">View source on GitHub</a></span></p>
			</div>
		</div>

	</body>
</html>
